.navbar{
    margin-bottom: 0;
}

.jumbotron {
    background-color: blueviolet;
    color: #fff;
}

.btn {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn:hover{
    background-color: lightslategray;
}
h1{
    font-size: 20px;
}
