<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Hermano</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">

</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <!--head bar-->
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navegante">
                        <span class="sr-only"> desplega/oculta </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand">
                        Gran Hermano
                    </a>

                </div>
                <!--elementos del menu-->
                <div class="collapse navbar-collapse" id="navegante">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"> Incio </a></li>
                        <li><a href="/ingresos"> Ingresos </a></li>
                        <li><a href="/gastos"> Gastos </a></li>
                    </ul>
                </div>

            </div>


        </nav>
    </header>


    <section class="jumbotron">
        <div class="container">
            <h1>Gran Hermano</h1>
            <p>Control y cuidado de Finanzas</p>
        </div>
    </section>

    <div class="container">
        <div class="col-md-3 justify-content-center">
            <div class="card">
                <div class="card-body">
                    <!-- FORM TO ADD MONEY -->
                    <form id="ingreso-form">
                        <div class="form-group">
                            <input type="date" id="date" placeholder="Fecha de la acción" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="name" placeholder="Nombre de la tranferencia" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" id="value" placeholder="Costo" class="form-control" min="0" value="0" step="50">
                        </div>
                        <div class="form-group">
                            <select id="type" title='Debe ser Ingreso o Gasto' name="Tipo" class="form-control">
                                <option>Ingreso</option>
                                <option>Gasto</option>
                            </select>
                            
                        </div>
                        <div class="form-group">
                            <input type="text" id="origin" placeholder="Origen del monto" class="form-control">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block text-center">
                            Ingresar transacción
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="container text-center" id="mostrardatos">
        </div>
    </div>

    <footer>

    </footer>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>

</html>
