<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gran Hermano</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            
            <!--head bar-->
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegante">
                        <span class="sr-only"> desplega/oculta </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand">
                        Gran Hermano
                    </a>

                </div>
                <!--elementos del menu-->  
                <div class="collapse navbar-collapse" id="navegante">
                    <ul class="nav navbar-nav">
                        <li><a href="/"> Incio </a></li>
                        <li class="active"><a href="#"> Ingresos </a></li>
                        <li><a href="/gastos"> Gastos </a></li>
                    </ul>
                </div>

            </div>

            
        </nav>
    </header>


    <section class="jumbotron">
        <div class="container">
            <h1>Gran Hermano</h1>
            <p>Control y cuidado de Finanzas</p>
        </div>
    </section>

    <section class="main">
        <!-- TABLA  -->
        <div class="col-md-11 text-center" >
            <div class="card my-4" id="task-result">
                <div class="card-body">
                    <!-- BÚSQUEDA -->
                    <ul id="containerBusqueda"></ul>
                </div>
            </div>

            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Fecha</td>
                        <td>Concepto</td>
                        <td>Valor</td>
                        <td>Origen</td>
                    </tr>
                </thead>
                <tbody id="ingresos"></tbody>
            </table>
        </div>
    </section>

    <footer>

    </footer>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/ingresos.js')}}"></script>
</body>
</html>